In [1]:
# importing the required libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
import pickle

In [3]:
# loading the dataset
df = pd.read_csv('../dataset/thyroid.csv')

In [4]:
# first 5 rows
df.head()

# Age is in years/100
# Sex: 0:Female, 1:Male 
# Age, TSH, T3, TT4, T4U, FTI are continuous variables
# rest are categorical variables

,Age,Sex,On_thyroxine,Query_on_thyroxine,On_antithyroid_medication,Sick,Pregnant,Thyroid surgery,I131_treatment,Query_hypothyroid,...,Goiter,Tumor,Hypopituitary,Psych,TSH,T3,TT4,T4U,FTI,Class
0,0.24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00025,0.030,0.143,0.133,0.108,3
1,0.47,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00190,0.024,0.102,0.131,0.078,3
2,0.64,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00090,0.017,0.077,0.090,0.085,3
3,0.23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00025,0.026,0.139,0.090,0.153,3
4,0.69,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00025,0.016,0.086,0.070,0.123,3

In [5]:
# splitting the data into test and train sets
X = df.drop('Class', axis=1)
y = df.Class
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.15, random_state=143)

In [6]:
# trying the Logistic Regression Model
model_lr = LogisticRegression(max_iter=1000)
model_lr.fit(X_test, y_test)

LogisticRegression(max_iter=1000)

In [7]:
# Accuracy achieved = 92%
model_lr.score(X_test, y_test)

0.9259259259259259

In [8]:
# trying the Random Forest Classifier Model
model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)

RandomForestClassifier()

In [9]:
# Accuracy achieved = 99%
model_rf.score(X_test, y_test)

0.9972222222222222

In [10]:
predictions = model_rf.predict(X_test)

In [11]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, predictions)

In [12]:
# saving the trained model for later use
pickle.dump(model_rf,open('../Saved Models/thyroid.pickle','wb'))